*.2o
*.a
*.o
*.out
*.sw[op]
.lastmake*
gmon.out
localmake
serial*
susy_hmc*
susy_eig
susy_meas
susy_corr
susy_mcrg
susy_flow
susy_cheb
susy_mode
susy_phase
susy_spill
poly
error.dat
mode_polynomial
PRIMME
