*.2o
*.a
*.o
*.out
*.sw[op]
.lastmake*
gmon.out
localmake
serial*
susy_hmc*
susy_meas
susy_mcrg
susy_wflow
susy_eig
susy_cheb
susy_mode
susy_phase
susy_spill
poly
error.dat
mode_polynomial
.DS_Store
PRIMME
